#Home {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;

    .todo {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .block {
        .box {
          background: #858585;
          padding: 5px;
          border-radius: 5px;

          img {
            width: 200px;
            height: 200px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
