#Home {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .todo {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .block {
        .box {
          background: #858585;
          padding: 5px;
          border-radius: 5px;

          img {
            width: 200px;
            height: 200px;
            border-radius: 5px;
          }
          h1 {
          }
          .buttons {
            display: flex;
            justify-content: space-between;

            .delete {
              background: #ff0000;
              padding: 10px 20px;
              border: none;
              border-radius: 5px;
            }

            .edit {
              background: #0000ff;
              padding: 10px 20px;
              border: none;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}
